<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@MobilePlanDetail">Mobile Plan Detail</span>
  </div>

  <div class="product-content" *ngIf="product">
    <ul class="feature-list">
      <li class="feature" *ngFor="let f of product.features">
        <span *ngIf="!hasLinkUrl(f)">{{f}}</span>
        <span *ngIf="hasLinkUrl(f)">
          International Long Distance Minutes, please visit <a target="_blank" rel="noopener noreferrer" href="https://www.rogers.com/web/content/add-ons">www.rogers.com/web/content/add-ons</a> for more information.
        </span>
      </li>
    </ul>
    <div>
      <span class="dollar">$</span>
      <span class="price">{{product.price | number: '1.2-2'}}</span>
      <span class="per-month">/月</span>
    </div>

    <div class="op-row">
      <div class="btn btn-primary" (click)="apply(product)">申请计划</div>
    </div>
  </div>

</div>