<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@MobilePlans">Mobile Plans</span>
  </div>

  <div class="product-list">
    <div class="product" *ngFor="let p of products">
      <div class="product-content">
        <div class="promotion-col">限时优惠</div>
        <div class="price-col">
          <span class="dollar">$</span>
          <span class="price">{{p.price | number: '1.2-2'}}</span>
          <span class="per-month">/月</span>
        </div>

        <div class="product-name">{{p.name}}</div>
        <div class="description">{{p.description}}</div>
        <div class="description">$35开通费</div>
        <!-- <div class="description">三年合约</div> -->
        <div class="op-row">
          <div class="view-detail" (click)="openDetail(p)">详情&gt;&gt;</div>
          <div class="btn btn-primary" (click)="apply(p)">申请计划</div>
        </div>
      </div>
    </div>
  </div>
</div>