<h1 mat-dialog-title class="title-bg">{{data.title}}</h1>
<div mat-dialog-content>
  <!-- <p>{{data.content}}</p>
  <mat-form-field>
  </mat-form-field> -->

  <div class="receivables-row">
    <div class="col-12">
      多村外卖手机计划服务条款
    </div>
    <div class="col-12">
      <div>一.总则</div>
      <p>1.1 本服务协议由用户与Duocun Inc.公司（以下简称Duocun）订立, Duocun将依据其向用户提供服务。为此，用户应当明确：当用户勾选同意或使用Duocun提供的任何服务时，即应被视为同意并接受本服务协议的所有条款并愿受其约束。</p>
      <p>1.2 Duocun有权随时对本服务协议进行修改，将以客户端公告的形式向用户告知; 如果用户选择在本服务协议内容变更后继续访问或使用Duocun提供服务的，则视为用户已经接受并承诺遵守相应修改。</p>
      <p>1.3 Duocun使用通过各种方式(包括但不限于公众号、外链网页等)作出的任何声明、通知、警示、规则、章程等内容视为本服务协议的有效组成部分。用户如继续使用该等网络服务的，视为用户同意并愿意遵守该等声明、通知、警示、 规则、章程。</p>
      <div>二.条款</div>
      <p>2.1 享有本产品的客户必须是本公司员工, 因此客户同意成为Duocun员工。</p>
      <p>2.2 公司员工不得恶意超流量使用签署的计划，否则费用由员工本人承担。</p>
    </div><!--end of right-col -->
  </div>
</div>

<div mat-dialog-actions class="actions-row">
  <!-- <div class="btn btn-secondary btn-cancel" (click)="onCancel()" >取消</div> -->
  <div class="btn btn-primary btn-pay" (click)="onOk()" >我已经阅读并同意以上条款</div>
</div>

