<h1 mat-dialog-title class="title-bg">{{data.title}}</h1>
<div mat-dialog-content>
  <!-- <p>{{data.content}}</p>
  <mat-form-field>
  </mat-form-field> -->

  <div class="receivables-row">
    <div class="col-12">
      多村外卖手机计划服务条款
    </div>
    <div class="col-12">
      <div>条款1.使用本计划的客户必须是本公司员工。</div>
      <div>条款2.公司员工不得恶意超流量使用签署的计划，否则费用由员工本人承担。</div>
    </div><!--end of right-col -->
  </div>


</div>

<div mat-dialog-actions class="actions-row">
  <!-- <div class="btn btn-secondary btn-cancel" (click)="onCancel()" >取消</div> -->
  <div class="btn btn-primary btn-pay" (click)="onOk()" >我已经阅读并同意以上条款</div>
</div>

